@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rosarivo:ital@0;1&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}